body{
    background-color: #fff;
}
.header_container{
    height: 120px;
    background: rgba(0, 0, 0, .75);
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.header_container input{
    background:#ffffff;
    border:1px solid #e6e5e5;
    border-radius:4px;
    width:438px;
    height:34px;
    padding: 0 14px;
    font-size:14px;
}
 ::-webkit-input-placeholder {
     font-family:PingFangSC-Regular;
     font-size:14px;
     color:#9b9b9b;
     letter-spacing:0;
 }
.icon_search_local{
    color: #4a4a4a;
    position: absolute;
    right:23px;
    line-height: 34px;
    font-size: 22px!important;
}
.buttons_contaienr{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    width:466px;
}
.show_unused{
    color: #fff;
}
.show_unused input{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.buttons_div{
    display: inline-block;
}
.buttons_contaienr .iconfont{
    color: #a8a8a8;
    margin-left:8px;
    cursor: pointer;
}
.buttons_contaienr .iconfont:hover{
    color: #fff;
}
.icon_shezhi_local{
    margin-left: 16px;
}
.icon_selected{
    color: #fff!important;
}
.content_container{
    height:425px;
    overflow-y: scroll;
}
.content_container p{
    padding:10px 15px 10px 23px ;
    border-bottom: solid thin #f0f0f0;
    min-height:18px;
    width: 461px;
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#3d3d3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content_container p span:first-child{
    display: inline-block;
    max-width: 80%;
    word-wrap:break-word;
    white-space:normal;
}
.content_container .item-span-useNum{
    display: inline-block;
    background:#e4e4e4;
    width:19px;
    height:19px;
    border-radius:100%;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    opacity: .7;
    color: #fff;
}
.content_container p:hover{
    background-color: #f6f6f6;
}
.item_has_selected{
    background-color: rgba(74,144,226,.17)!important;
}
.item_has_selected .item-span-useNum{
     background:#4a90e2 !important;
 }
.item_has_used{
    background-color: #f6f6f6;
}

.bottom_container{
    height: 30px;
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#d0d0d0;
    text-align:center;
    line-height: 30px;
}

.setting-container{
    position: absolute;
    flex: 1;
    width:100%;
    height: 100%;
    top:0;
    display: none;
}
.setting-panel{
    background:#ffffff;
    border:1px solid #e1e1e1;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius:3px;
    width:360px;
    height:136px;
    position: absolute;
    right: 20px;
    top:105px;
    opacity: 1;
    -webkit-animation: settingAnimation .6s infinite;
    -o-animation: settingAnimation .6s infinite;
    animation: settingAnimation .6s infinite;
    animation-iteration-count: 1;
}
@keyframes settingAnimation {
    from {
        top: 80px;
        opacity: 0;
    }
    to{
        top:105px;
        opacity: 1;
    }
}
.setting-panel p:first-child{
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#262626;
    padding: 20px 0 0 26px;
}
.setting-panel select{
    margin: 15px 0 15px 26px;
    border:1px solid #dadada;
    border-radius:6px;
    width:138px;
    height:28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../imgs/ic_arrow_drop_down.png") no-repeat  120px center transparent;
    background-size: 10px 5px;
    font-size: 12px;
    padding-left: 10px;
    color:#262626;
}

.changePro,.logout{
    border-top:1px solid #dadada;
    height:38px;
    line-height: 36px;
    padding-left: 26px;
    cursor: pointer;
    font-size: 13px;
}
.logout{
    color: red;
}